.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 0.5rem 0.5rem;
    height: 15rem;
    width: 8.7rem;
    background-color:  #0d2136;
    transition: transform 0.5s 0.3s;
}
.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.image {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    height: 10rem;
    object-fit: cover;
    filter: contrast(120%);
}
.name {
    padding: 0.3rem;
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
}
@media screen and (min-width: 260px) {
    .card {
        width: 14rem;
    }
}
@media screen and (min-width: 270px) {
    .card {
        width: 15rem;
    }
}
@media screen and (min-width: 350px) {
    .card {
        width: 9rem;
    }
}
@media screen and (min-width: 370px) {
    .card {
        width: 9.6rem;
    }
}
@media screen and (min-width: 400px) {
    .card {
        width: 11rem;
        flex-grow: 1;
        flex-shrink: 1;
    }
}
@media screen and (min-width: 450px) {
    .card {
        width: 13rem;
    }
}
@media screen and (min-width: 500px) {
    .card {
        width: 13rem;
    }
}
@media screen and (min-width: 520px) {
    .card {
        width: 14.5rem;
        flex-grow: 1;
        flex-shrink: 1;
    }
}
