
.swiper {
    width: 17rem;
    margin-left: 1rem;
}
.image {
    filter: contrast(120%);
    height: 13rem;
    width: 100%;
    object-fit: cover;
}
@media screen and (min-width: 400px) {
    .swiper {
        width: 23rem;
    }
}
@media screen and (min-width: 450px) {
    .swiper {
        width: 27rem;
        height: 16rem;
    }
}
@media screen and (min-width: 550px) {
    .swiper {
        width: 32rem;
    }
}
@media screen and (min-width: 650px) {
    .swiper {
        width: 35rem;
    }
    .image {
        height: 18rem;
    }
}
@media screen and (min-width: 700px) {
    .swiper {
        width: 41rem;
    }
}

@media screen and (min-width: 900px) {
    .swiper {
        width: 38rem;
    }
    .sliderBox {
        border-radius: 10px;
        display: flex;
        justify-content: center;
       
    }
   
    .image {
        border-radius: 10px;
        height: 20rem;
        width: 100%;
        object-fit: cover;
    }
}
@media screen and (min-width: 1100px) {
    .sliderBox {
        width: 49rem;
    }
    .swiper {
        width: 100%;
    }
}